# folders
/**/.vscode
/**/.ipynb_checkpoints
/**/__pycache__
/**/chromedriver
/**/MNIST_data
/**/pre-trained
/**/model
/**/projects

# filename extension
*.txt
*.mp4
*.avi
*.pdf
*.pptx
*.csv
*.xlsx
*.pkl
*.xml
*.yml
*.names
*.exe
*.pb
*.h5
*.gz
*.caffemodel